<!doctype html>
<html lang="en">
<head>
    <title>Tombola</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/css/tombola.css"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Bücherbörse {{ 'now'|date('Y') }}</a>

    <input id="tombola-input" class="form-control mr-sm-2" type="text" placeholder="Losnummer"
           aria-label="Search">
</nav>

<main role="main" class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div id="prize">
        </div>
    </div>
</main><!-- /.container -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/tombola.js"></script>
</body>
</html>
