{% extends 'backend/layout.html.twig' %}

{% set js_files = ['blank'] %}
{% set page = 'blank' %}

{% block content %}
    <div class="row">
        <div class="col"><h1>Blank</h1></div>
    </div>

    <div class="row">
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="blank-image">Image</label>
                    <select class="form-control" id="blank-image" name="blank-image">
                    </select>
                </div>
                <div class="form-group">
                    <label for="blank-description">Description</label>
                    <input type="text" class="form-control" id="blank-description" name="blank-description" placeholder="Description">
                </div>
                <button type="button" class="btn btn-primary pull-right" id="blan-save">Save Changes</button>
            </form>
        </div>
    </div>
{% endblock %}
