{% extends 'backend/layout.html.twig' %}

{% set js_files = ['backend'] %}
{% set page = 'index' %}

{% block content %}
    <div class="row">
        <div class="col"><h1>Prizes</h1></div>
    </div>

    <div class="row">
        <div class="col">
            <form>
                <div class="row">
                    <div class="col">
                        <span class="prize-errors"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <input name="id" type="number" min="1" class="form-control" placeholder="#">
                    </div>
                    <div class="col">
                        <select name="image" type="text" class="form-control">
                            <option value="">-- Please Select --</option>
                        </select>
                    </div>
                    <div class="col">
                        <input name="description" type="text" class="form-control" placeholder="Description">
                    </div>
                    <div class="col">
                        <button class="btn btn-primary prize-create" type="button">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-prizes">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Image</th>
                    <th>Description</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody class="table-prizes-body">
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="prizeModal" tabindex="-1" role="dialog" aria-labelledby="prizeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="prizeModalLabel">Prize</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="modal-prize-id">Ticket number</label>
                            <input type="text" readonly class="form-control" id="modal-prize-id" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="modal-prize-image">Image</label>
                            <select class="form-control" id="modal-prize-image">
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="modal-prize-description">Description</label>
                            <input type="text" class="form-control" id="modal-prize-description" placeholder="Description">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary modal-prize-save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
