.container-fluid {
    margin-top: 70px;
}

html, body {
    height: 100vh;
    overflow-y: auto;
}

body, body:before {
    background: url('/img/background.jpeg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

body:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    filter: blur(5px);
}

.ribbon {
    font-size: 24px !important;
    /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

    width: 70%;

    height: 3em;

    position: relative;
    background: #FFA929;
    color: #fff;
    text-align: center;
    padding: 1em 2em; /* Adjust to suit */
    margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #FFA929;
    z-index: 0;
}
.ribbon:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent;
}
.ribbon:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #cd8028 transparent transparent transparent;
    bottom: -1em;
}
.ribbon .ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.prize-image {
    height: 50vh;
    width: 100%;
    object-fit: scale-down;
    border-radius: 0;
    border-left: 0;
    border-right: 0;

    padding: 1em 0;
}

.card {
    background: rgba(255, 255, 255, 0.3);
}

.prize {
    background: rgba(255, 255, 255, 0.7);
    padding: 0 0 1em 0;
}

.card-body {
    padding: 0;
    font-size: x-large;
}

.card-text {
    text-align: center;
    margin: 1em;
}

.zoom-in {
    -webkit-animation-name: zoom-in;
    animation-name: zoom-in;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}
@keyframes zoom-in {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}